# SPDX-License-Identifier: GPL-2.0-or-later
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ irc_agent_secret_name }}
  namespace: {{ irc_agent_namespace }}
  labels:
    app: {{ irc_agent_app }}
    app.kubernetes.io/managed-by: irc_agent
type: Opaque
stringData:
  LLM_API_KEY: "{{ irc_agent_llm_api_key | string }}"
  IRC_PASSWORD: "{{ irc_agent_irc_password | string }}"
