apiVersion: route.openshift.io/v1
kind: Route
metadata:
  annotations:
    description: Route for application's https service.
  labels:
    app: gitea
  name: gitea
  namespace: {{ gitea.namespace }}
spec:
  to:
    kind: Service
    name: gitea
    weight: 100
  port:
    targetPort: 3000-tcp
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect